<header>
  <a href="../../index.html">
    <img
      src="../../images/branding/logo_launch.webp"
      alt="brand's logo"
      loading="lazy"
      class="brandLogo"
    />
    <h1>
      <span class="shopping">Shopping</span
      ><span class="companion">Companion</span>
    </h1>
  </a>
  <a href="../../../cart.html"
    ><img
      src="../../images/svgs/cart4.svg"
      alt="cart logo"
      loading="lazy"
      title="cart"
      class="cart"
  /></a>
  <a href="../../profile.html"
    ><img
      src="../../images/svgs/person-circle.svg"
      alt="profile icon"
      loading="lazy"
      title="profile"
  /></a>
</header>
