<link rel="stylesheet" href="../../../styles/base.css" />
<link rel="stylesheet" href="../../../styles/large.css" />
<link rel="icon" href="../../../images/branding/favicon.ico" />
<meta name="author" content="agbetoba aliya" />
<meta name="description" content="Shopping web Application" />
<meta name="og:title" content="Shopping Companion" />
<meta name="og:description" content="an online shopping store" />
<meta name="og:type" content="web app" />
<meta name="og:locale" content="en-us" />

<meta
  name="og:image"
  content="http://http://tourmaline990.github.io/WDD330--Final/src/images/branding/logo_launch.webp"
/>
<meta name="og:image:width" content="1200" />
<meta name="og:image:height" content="630" />
<meta
  name="og:url"
  content="http://tourmaline990.github.io/WDD330--Final/src/index.html"
/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="an online shopping store" />
<meta
  name="twitter:image"
  content="http://http://tourmaline990.github.io/WDD330--Final/src/images/branding/logo_launch.webp"
/>
<meta name="twitter:title" content="Shopping Companion" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
  rel="stylesheet"
/>
