<a href="../../index.html" class="hashyper logo">
  <img
    src="/images/branding/logo_launch.webp"
    alt="brand's logo"
    loading="lazy"
    class="brandLogo"
    width="40"
    height="40"
  />
  <h1>
    <span class="shopping">Shopping</span
    ><span class="companion">Companion</span>
  </h1>
</a>
<nav id="nav">
  <a href="../../cart/cart.html"
    ><img
      src="/images/svgs/cart4.svg"
      alt="cart logo"
      loading="lazy"
      title="view cart"
      class="cart icon"
  /></a>

  <img
    src="/images/svgs/person-circle.svg"
    alt="profile icon"
    loading="lazy"
    title="profile"
    id="profile"
    class="icon"
  />
</nav>
