<header>
  <a href="../../index.html">
    <img
      src="/images/branding/logo_launch.webp"
      alt="brand's logo"
      loading="lazy"
      class="brandLogo"
    />
    <h1>
      <span class="shopping">Shopping</span
      ><span class="companion">Companion</span>
    </h1>
  </a>
  <a href="../../cart/cart.html"
    ><img
      src="/images/svgs/cart4.svg"
      alt="cart logo"
      loading="lazy"
      title="view cart"
      class="cart"
  /></a>

  <img
    src="/images/svgs/person-circle.svg"
    alt="profile icon"
    loading="lazy"
    title="profile"
    id="profile"
  />
</header>
