<div class="g">
<img src="../../images/svgs/lock.svg" alt="locked icon" loading="lazy" />
<h1>Password</h1>
</div>
<form method="get">
  <p id="notify"></p>
  <label for="password">Password</label>
  <input
    type="text"
    name="password"
    id="password"
    title="enter your password"
  />
</form>
<button id="log2">Verify</button>
<a href="../partials/login1.html?q=log"
 class="back hashyper" ><img
    src="../../images/svgs/arrow-left-short.svg"
    alt="arrow  icon"
    loading="lazy"
    title="back"
  /><span>Back</span></a
>
